<div>
  <h1><%= @program.title %></h1>
  <p><%= link_to "Add Exercises", new_program_exercise_path(@program) %> |
     <%= link_to "Delete Entire Workout", @program, method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <div>
    <%= link_to "Start Workout", program_exercises_path(@program, @exercises) %>
  </div>
  <hr>

  <% @exercises = @program.exercises %>
  <% @exercises.each do |exercise| %>
    <h4><%= exercise.exercise_option.name %></h4>

    <ul class="nav">
      <li class="active"><a href=".weight#<%= dom_id(exercise) %>" data-toggle="tab" aria-expanded="false"><h5>Graph by Weight</h5></a></li>
      <li class="active"><a href=".volume#<%= dom_id(exercise) %>" data-toggle="tab" aria-expanded="false"><h5>Graph by Volume</h5></a></li>
    </ul>

    <div id="weight<%= dom_id(exercise) %>" value="<%= exercise.weight_lifted %>"></div>
    <div id="volume<%= dom_id(exercise) %>" value="<%= exercise.volume_lifted %>"></div>
    <div id="date<%= dom_id(exercise) %>" value="<%= exercise.exercise_date %>"></div>

    <div class="graphContent">
      <canvas id="myChart<%= dom_id(exercise) %>" width="200" height="55"></canvas>

      <div class="weight" id="<%= dom_id(exercise) %>">
        <%= render "weight", id: exercise.id %>
      </div>

      <div class="volume" id="<%= dom_id(exercise) %>">
        <%= render "volume", id: exercise.id %>
      </div>

    </div>
    <hr>
  <% end %>


</div>
