<div>
  <h1><%= @program.title %></h1>
  <p><%= link_to "Add Exercises", new_program_exercise_path(@program) %> |
     <%= link_to "Delete Entire Workout", @program, method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <div>
    <%= link_to "Start Workout", program_exercises_path(@program, @exercises) %>
  </div>
  <hr>

  <% @exercises = @program.exercises %>
  <% @exercises.each do |exercise| %>
    <h4><%= exercise.exercise_option.name %></h4>
    <div id="weight<%= dom_id(exercise) %>" value="<%= exercise.weight_lifted %>"></div>
    <div id="volume<%= dom_id(exercise) %>" value="<%= exercise.volume_lifted %>"></div>
    <div id="date<%= dom_id(exercise) %>" value="<%= exercise.exercise_date %>"></div>
    <canvas id="myChart<%= dom_id(exercise) %>" width="200" height="75"></canvas>

      <%#= render "weight", id: exercise.id %>
      <%= render "volume", id: exercise.id %>

    </div>
  <% end %>


</div>
