<div>
  <h1><%= @program.title %></h1>
  <p><%= link_to "Add Exercises", new_program_exercise_path(@program) %> |
     <%= link_to "Delete Entire Workout", @program, method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <hr>
  <% @exercises = @program.exercises %>
  <% @exercises.each do |exercise| %>
    <h4><%= exercise.exercise_option.name %></h4>
  <% end %>
  <div>
    <%= link_to "Start Workout", new_program_exercise_log_path(@program) %>
  </div>
</div>
