<h1><%= exercise.exercise_option.name %></h1>

<% @exercise_log = ExerciseLog.new %>
<%= simple_form_for @exercise_log, url: exercise_exercise_logs_path(exercise), remote: true do |f| %>

    <%= f.input :sets, as: :string %>
    <%= f.input :reps, as: :string %>
    <%= f.input :weight, as: :string %>
    <%= f.button :submit, "Completed" %>
    <hr>

<% end %>
