<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/buttons.css">



  <title>FinalProject</title>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="chart.js"></script>
</head>
<body>

    <div class="navbar">
      <%= render "/layouts/navbar" %>
    </div>

    <div>
      <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="flash-alert"><%= flash[:alert] %></div>
      <% end %>
    </div>
<%= yield %>

</body>
</html>
