<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="chart.js"></script>
</head>
<body>

    <div class="navbar">
      <%= render "/layouts/navbar" %>
    </div>

    <div>
      <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="flash-alert"><%= flash[:alert] %></div>
      <% end %>
    </div>

      <%= yield %>

</body>
</html>
